#button{
    outline: none; 
    border-radius: 8px;
    cursor: not-allowed;
    padding: 24px;
    background-color: blueviolet;
    margin: 12px;
    border: none 
}
#button1{
    outline: none; 
    cursor: pointer;
    border-radius: 8px;
    padding: 24px;
    margin: 12px;
    background-color: aquamarine;
    border: none;
}
#button:hover{
    font-size: larger;
    color: blue;
    margin-left: 500px 
    

}
#para{
    border-left:2px dotted blue;
    border-bottom: 2px dotted red;
    border-top: 2px solid red;
    border-right: 2px solid violet;
}
#a:visited{
    color: rgb(43, 226, 186);
}
#a:active{
    color: rgb(255, 253, 127);
}
