.span1{
    padding: 20px;
    padding-left: 12px;
    background-color: rgb(81, 81, 233);
    color: white;

    
}

button{
    padding: 20px;
    border: none;
    background-color:  rgb(81, 81, 233);;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}
.button1:hover{
    
background-color: rgb(255, 0, 166);
color: aqua;
}
.span1:hover{
    background-color: rgb(255, 0, 166);
    color: aqua;

}
div{
    background-color: rgb(8, 5, 1);
    padding: 10px;
}
*{
    margin: 0;
}
